<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nico.projet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListOfActivity" />
        <activity android:name=".SignIn" />
        <activity android:name=".CreateSale" />
        <activity android:name=".user_account" />
        <activity android:name=".create_location" />
        <activity android:name=".DetailsHouse" />
        <activity android:name=".AllTowns" />
        <activity android:name=".DetailsLocation" />
        <activity android:name=".Languages"></activity>
    </application>

</manifest>